html
{
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cinzel Decorative', cursive;
  background-color: #040c0e;
  color: #a4978e;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #132226;
    font-family: 'Merienda',cursive;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #be9063;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #a4978e; color:#ffffff }

ul.topnav li.right {float: right;}


/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
    .button2{
        width: 100%;
    }
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}



.button2{
     background-color: #132226;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    width: 100%;
}
.button2:hover{
    border:2px;
    opacity:0.5;
}

.des{
  font-family: 'Merienda',cursive;
}